@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
    --calendar-size: 250px;
    --theme-color: #a9ee90;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: aliceblue;
}

h3 {
    font-weight: 400;
}

section > input {
    height: 20px;
    font-size: 12px;
    border-radius: 10px;
    padding: 5px;
}

.calendar {
    width: var(--calendar-size);
    margin-top: 20px;
}

.calendar-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--theme-color);
    border-radius: 10px 10px 0 0;
    height: calc(var(--calendar-size) * 0.25);

    .left, .right {
        flex: 0 0 auto;
        margin: 10px;
    }

    .center {
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        color: white;
    }
}

.calendar-content {
    width: 100%;
    height: var(--calendar-size);
    background-color: white;
    border-radius: 0 0 10px 10px
}

.hidden {
    visibility: hidden;
}